.pp-input:not(:last-of-type) {
  margin-bottom: var(--pp-gap-sm);
}

.pp-button {
  width: 100%;
  margin-top: var(--pp-gap-xl);
}

.ui-button.pp-button-remove,
.ui-button.pp-button-remove:hover
{
  width: 100%;
  color: var(--pp-text-color);
  margin-top: var(--pp-gap-sm);
  border: none;
  background: transparent;
}
